@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.btn {
 color: black;
 border: whitesmoke;
 border-radius: 10px;
}


.tea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.full {
    background-color: #341F56;
    color: #D7A91E;
    height: 100vh;
    width: 100%;
}
